body{
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
	line-height: 1.3;
    padding: 20px;
}

h1{
    text-align: center;
    color: #2c3e50;
}
h2{
	color: pink;
}
h3{
	color:green;
}
caption {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
	color: red;
}
.table1 {
	background-color: white;
    border-collapse: collapse;
    margin-bottom: 20px;
	width:100%;
}
.table1 img {
    display: block;
}
.table2 {
	border-collapse: collapse;
    background-color: #fef9e7;
	width: 30%;
}
th {
    background-color: #3498db;
    color: white;
}	
td, th {
    border: 2px solid #999;
    padding: 5px;
}

	
	
